@import url("https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700");
body {
  overflow: auto;
}

.features {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: rgb(214, 214, 214);
}
.tag {
  display: flex;
  font-weight: bolder;
  font-size: 4vw;
  word-spacing: 1em;
  letter-spacing: 1em;
}
.tag-wrapper {
  display: flex;
  height: 20vw;
  background-color: rgb(20, 19, 19);
  justify-content: center;
  align-items: center;
}
a {
  background-size: cover;
  background-position: center;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: "Heebo";

  height: 20em;
  width: 15em;
  color: white;
  display: flex;
  box-shadow: 0 0 2em -1em black;
  position: relative;
  overflow: hidden;
  border: 2px solid #ccc;
  text-decoration: none;

  font-size: 1em;
  border-radius: 2rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all 0.5s;
}

.card:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
}

h1 {
  font-size: 1.5em;
  color: black;
  font-weight: bolder;
  text-align: center;
}
/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  h1 {
    margin: 0;
  }
}
