@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");

.weather-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  background-color: rgb(0, 195, 255);
}

.weather-line-break {
  margin: 0;
  padding: 0;
  border: 2px solid rgb(0, 181, 236);
}

.weather-select p {
  font-family: "Reggae One", cursive;
  margin-top: 30px;
  font-size: 230%;
  color: rgb(188, 239, 255);
  filter: drop-shadow(5px 5px 4px #4444dd);
  font-weight: 900;
  text-align: center;
}

.city-select {
  margin-top: 50px;
  display: flex;

  justify-content: center;
  background-color: red;
  width: fit-content;
}
.city-select > select {
  width: 250%;
}

/* WEATHER INFO*/
.weather-display {
  background-color: rgb(0, 162, 255);
  height: 100%;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
  justify-items: center;
}
.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(29, 202, 255);
}

.weather-info .kota {
  font-variant: small-caps;
  letter-spacing: 5px;
  font-size: 2rem;
}
.weather-info .icon {
  width: 100px;
  height: 100px;
  background-size: cover;
}
.weather-info .celcius,
.weather-info .kelvin {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  letter-spacing: 2px;
}
.weather-info .break {
  width: 70%;
  border: 1px dotted white;
}

.weather-info .wind-label::first-letter {
  font-variant: small-caps;
  letter-spacing: 5px;
  font-size: 2rem;
}
.weather-info .wind-label {
  font-size: 1.5rem;

  text-align: center;
}
.weather-info .speed,
.weather-info .degree {
  font-size: 1.5rem;
}
.select-city-first {
  font-family: "Reggae One", cursive;

  filter: drop-shadow(5px 5px 4px #4444dd);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 55vh;
  color: whitesmoke;
  letter-spacing: 5px;
  font-size: 2rem;
  background-color: rgb(0, 195, 255);
}
/* Responsive */
@media screen and (max-width: 500px) {
  .weather-display {
    grid-template-columns: 1fr;
  }
  .weather-info {
    height: 250px;
  }
}


