body {
  overflow: hidden;
  font-family: "Lato", sans-serif;
}
.calculator {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* .calculator-wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  outline: 1px solid black;
} */

.calculator-wrapper {
  background-color: #141e30;
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-basis: auto; */
  outline: 1px solid black;
}

.btn-calc {
  display: flex;
  width: 90px;
  height: 70px;
  padding: 10px;
  margin: 2px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(39, 36, 36);
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  touch-action: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.btn-calc:hover {
  background-color: rgb(160, 160, 160);
}

input[type="text"] {
  font-size: 1.4em;
  grid-column: span 4;
  color: rgb(255, 255, 255);
  background-color: rgb(47, 51, 50);
  height: 55px;
  text-align: end;
  cursor: no-drop;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px rgb(0, 132, 255); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px rgb(0, 132, 255); /*Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px rgb(0, 132, 255) !important; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.notNumber {
  color: #fff;
  background-color: rgb(255, 42, 42);
}
@media only screen and (max-width: 528px) {
}
@media only screen and (max-width: 768px) {
}
