.calculator {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.calculator-wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  outline: 1px solid black;
}
.btn-calc {
  display: flex;
  outline: 1px solid whitesmoke !important;
  width: 90px;
  height: 70px;
  justify-content: center;
  align-items: center;
}
.row {
  margin: 0;
  flex-wrap: nowrap;
  align-self: flex-start;
}
input[type="text"] {
  background-color: rgb(194, 194, 194);
  height: 55px;
  text-align: end;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px rgb(0, 132, 255); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px rgb(0, 132, 255); /*Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px rgb(0, 132, 255) !important; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

@media only screen and (max-width: 528px) {
}
@media only screen and (max-width: 768px) {
}
